body {
    background-color: #20262E;
}

.header nav,
.footer {
    border-color: #90a4ae;
}

.highlight {
    background-color: #657b83;
    color: #FDF6E3;
}

/*
    foot-note uzerinde ingilizce "return" ibaresinin yerine
    turkce "geri don" yazmak icin
*/
a.footnote-return > sup {
    visibility: hidden;
}

a.footnote-return > sup:before {
    content: '[geri dön]';
    visibility: visible;
    font-size: 75%;
}

blockquote {
    font-weight: lighter;
    font-size: 0.9rem;
    font-style: normal;
    border: 1px solid #90a4ae;
    border-radius: 10px;
    font-family: "arimo", sans-serif;
}

body {
    font-family: "afacad", sans-serif;
}
